@import "../../Theme.scss";

.Project{
  
    .main{
        > *{
            margin-bottom: 50px;
        }

        .Used{
            flex-direction: row;
            display: flex;
            padding-left: 15px;
            padding-bottom: 15px;
        }
    }
}